select.contacts_bmlt_service_body_select {
	width: 50%;
	max-width: 50%;
}

.chosen-container-multi .chosen-choices li.search-field input[type=text] {
	width: 100% !important;
}
.chosen-container-multi * {
	font-family: 'Courier New', Courier, monospace;
}
.chosen-container-multi .chosen-choices li.search-field input[type=text] {
	font-family: "Open Sans",sans-serif !important;
}

div#contacts_bmlt_div div.bmlt_simple_contacts_div div.bmlt_simple_contact_one_contact_div:nth-child(even)
{

	background-color:#efefef;
}

div#contacts_bmlt_div div
{
	font-family:"Open Sans";
	font-size: medium;
}

div#contacts_bmlt_div div.bmlt_simple_contact_one_contact_div
{
	display:table;
	width:100%;
}

div#contacts_bmlt_div div.bmlt_simple_contact_one_contact_div div
{
	float:left;
	padding:0.5em;
	display:table;
}

div#contacts_bmlt_div div.bmlt_simple_contact_one_contact_service_body_name_div
{
	width:40%;
}

div#contacts_bmlt_div div.bmlt_simple_contact_one_contact_helpline_div
{
	float:left;
	width:30%;
}

div#contacts_bmlt_div div.bmlt_simple_contact_one_contact_url_div
{
	float:left;
	width:30%;
}

div#contacts_bmlt_div div.bmlt_simple_contact_one_contact_helpline_no_full_url_div
{
	text-align:center;
	float:left;
	width:60%;
}
