language: php
os: linux

php:
- '7.1'
env:
  global:
  - ZIP_FILENAME=contacts-bmlt-build${TRAVIS_BUILD_NUMBER}-${TRAVIS_COMMIT}.zip
  - S3_BUCKET=archives.bmlt.app
  - S3_KEY=contacts-bmlt
jobs:
  include:

  - stage: lint
    install:
    - composer install
    script:
    - find . -name "*.php" ! -path '*/vendor/*' -print0 | xargs -0 -n1 -P8 php -l
    - vendor/squizlabs/php_codesniffer/bin/phpcs --warning-severity=6 --standard=PSR2 --ignore=vendor --extensions=php --report=summary ./
  - stage: zip file
    env:
    - BUILD_DIR=build
    - DIST_DIR_S3=dist/s3
    - DIST_DIR_GITHUB=dist/github
    - GITHUB_RELEASE_FILENAME=contacts-bmlt.zip
    - PLUGIN="contacts-bmlt"
    - MAINFILE="contacts-bmlt.php"
    script:
    - find ./ -type d | xargs chmod 755
    - find ./ -name '*.php' | xargs chmod 644
    - zip -r $ZIP_FILENAME ./ -x "*.git*" -x "*.editorconfig*" -x "*.travis.yml*" -x "*assets*" -x "*vendor*" -x "composer.*" -x "*.gitattributes" && mkdir $BUILD_DIR && mv $ZIP_FILENAME $BUILD_DIR/
    before_deploy:
    - mkdir -p $DIST_DIR_S3 && cp $BUILD_DIR/$ZIP_FILENAME $DIST_DIR_S3/$ZIP_FILENAME
    - mkdir -p $DIST_DIR_GITHUB && cp $BUILD_DIR/$ZIP_FILENAME $DIST_DIR_GITHUB/$GITHUB_RELEASE_FILENAME
    - curl -LO https://raw.githubusercontent.com/bmlt-enabled/bmlt-wordpress-deploy/master/deploy-wordpress.sh
    - chmod +x deploy-wordpress.sh
    deploy:
    - provider: s3
      edge: true
      access_key_id: AKIAI7JHYFA6DI3WYP5A
      secret_access_key:
        secure: hha7wLdyDv6nJQ+tlZHu3j0uJEAyZTFPas04FPfJzMflXJ8k4wwdMi7KVieoT/YjN/xmkfbD5rlC/QceOlDmT0SyE7NKe010XzYZGnqKs+4BWe+m1lQBYCp8ab0aG7x55lqVSZzyGpDmOyGU5S14hbRF9x91zvL35pkTVhzaQa3A3XIAUKC946QqI7Ng405bIraQzN9IfCv0dpi3C+Z+XLL9QZ+i1EmoHUe1BXUq94s9PDh3qzFv68DFOcsiGbC7daANu1JVq2gBJnrpe7gUQPnLMvEIhP0QPudlb36c2ZjScWjJTQv+kf4cn+pv9ybfPSZe0OP+z776HNfPWUnvefsznBRtVy96N+6vOsS2bj8m37ObfkadprccsoAXh4OtScEl0xh4uwlCl9lU6+3JYZULTxpUk8iZB+jeLPNlwLBNfOiZZ7o5ctamat7V/tkwsxeQ6qpdebUGV6unS9Szj/+V4K2HSvRzPeaaUR7hVAeEv3OGmx4lMKd8iI4tMUvoVjZQLRPTQw+dbe0llm2oSL7YsB9WDxxElyMquJ7UzhD2+cRDOMTM9ZyxieKUmuQ/ssCYtAdg/Cc2IywWWjpz1bP1bFsbwhfMenQjaLWgnvFCni1hTo4CeZs6Yy7rjAlZ7QMuYDPYlThnhxDi8yUG+A8KLgbptOCqocVEElfXj7k=
      bucket: "$S3_BUCKET"
      local_dir: "$DIST_DIR_S3"
      upload_dir: "$S3_KEY"
      on:
        all_branches: true
    - provider: releases
      edge: true
      token:
        secure: YTYjNNSVlw5LV8J3RXKQPRX3HuzXOsdrJf+ScD7Q0SZvbFbIuqerKZn/5AFfKHvfhryQ6a5PUbO6qnbvie3TA+oXltoRxsZ80sDDvrbqmhWVfyd5cLJ/yLUNNrKLj2/j7LZX6ZmgohCdxFo+51mOyy9PFR7kzJ2hwWvFZvi0r3rvE/r8WKqoTax3GcoEmxCZn77N+klhonYajrqktbJk8mkhuufPEyNs6aX9VvbVDy+faTYzFjIXN1+PxDtXCdj2SZ4hWo9BEM904WaVMhO6glZCeerXzYGuYXmkgLDXMFDiJMDuim9xWUVAjXWhie+tMfM8OO9JvbKfIJZUC+q+vX4q3AuEr7eQj0RfuN56TVZ0JOLIFCKl6cx8rwXyDzPG8lC+tLHRNigwuvpTs6R1XdQkJ8RHGRn0TdCSwCKW3FVHo+4KID+J5xioy2zaV2iAcACUYJNq1Bau/0yYFRJWkIEWj8dmCHDh5F4FZF3Mr+mJDFW8haKL/bgxwiQhc2a0YLN71G7Dfi1SBIxXhdWGqrKqdKxGylQhk9XC5CQcBPOi/HwFfULfKetRxnh3l7ngPJRbX8CEKAylXxn5fPNiRysbS5BoFiQevv5mFyh2c95FX8eHXUMHtQHmKoa9f8mZU5bHHQ1x5GO9T8z4mCkyItA2CIe2jVl8/Hd41TbZEBE=
      file: "$DIST_DIR_GITHUB/$GITHUB_RELEASE_FILENAME"
      name: "$TRAVIS_TAG"
      prerelease: true
      on:
        tags: true
        condition: $TRAVIS_TAG =~ "beta"
    - provider: releases
      edge: true
      token:
        secure: YTYjNNSVlw5LV8J3RXKQPRX3HuzXOsdrJf+ScD7Q0SZvbFbIuqerKZn/5AFfKHvfhryQ6a5PUbO6qnbvie3TA+oXltoRxsZ80sDDvrbqmhWVfyd5cLJ/yLUNNrKLj2/j7LZX6ZmgohCdxFo+51mOyy9PFR7kzJ2hwWvFZvi0r3rvE/r8WKqoTax3GcoEmxCZn77N+klhonYajrqktbJk8mkhuufPEyNs6aX9VvbVDy+faTYzFjIXN1+PxDtXCdj2SZ4hWo9BEM904WaVMhO6glZCeerXzYGuYXmkgLDXMFDiJMDuim9xWUVAjXWhie+tMfM8OO9JvbKfIJZUC+q+vX4q3AuEr7eQj0RfuN56TVZ0JOLIFCKl6cx8rwXyDzPG8lC+tLHRNigwuvpTs6R1XdQkJ8RHGRn0TdCSwCKW3FVHo+4KID+J5xioy2zaV2iAcACUYJNq1Bau/0yYFRJWkIEWj8dmCHDh5F4FZF3Mr+mJDFW8haKL/bgxwiQhc2a0YLN71G7Dfi1SBIxXhdWGqrKqdKxGylQhk9XC5CQcBPOi/HwFfULfKetRxnh3l7ngPJRbX8CEKAylXxn5fPNiRysbS5BoFiQevv5mFyh2c95FX8eHXUMHtQHmKoa9f8mZU5bHHQ1x5GO9T8z4mCkyItA2CIe2jVl8/Hd41TbZEBE=
      file: "$DIST_DIR_GITHUB/$GITHUB_RELEASE_FILENAME"
      name: "$TRAVIS_TAG"
      on:
        tags: true
        condition: $TRAVIS_TAG != *beta*
    - provider: script
      script: ./deploy-wordpress.sh
      on:
        tags: true
notifications:
  slack:
    rooms:
    - secure: bmoIugz9sorNakDw7LnfC3iB7a4CnhuZeZBAVxefSoqipbZAGLoA86pSaDwSK3kNsCRAUXyHJ0pBxxJuCO5jrQKhl9TNBFQQ60KPvn3LQj9OXXTSHp4qoqBytipQGyjeqySu4fJt8Lc0u8FQ0qinxn21qF7K7c54aygVKQd+nxf/+9rVzSOJIY+c6UEBb9FwKfHl9cOJy8nTHYPNl0ZbQaYVS1gvyOV2jzrlurOXb0t2xYs2W9EOAjUd2E4ZVaD8EEyRZ9zcvy8ne41qZGBLMJjHZo6TdN4x0AdEYiITst5fKj+YILNCaVQMyURu5h65RPVXyjZ/eIOUixSt1EOpMTxWcRiDn3H7B2F7eEUIXyo/c5x1AEWEQFLGK+/PEqWx/zaBG0rJJdzVbLaqet2kg5piy+f84EBCZiXm7CZIYPMSjLJo9AJDcY9iSRgvpRnkSagHZAgMILNut53aNPd8i3FoOeycPwux/KDQpSz0uIpn4xu26VY0bzxJ8N27VugUhmNhLCN05Hgw8GoDjEoh4EgPPsdNVzXT4mzpjx2GfhRZOm/78LUSDB/w3oIAEPzRFfhberBAo0l2w9T5+Ynbw9yyquYgNUOW/nMhbwqOPbWqndHa8Xume0DXp2COHEqoSZx4gDIIRRKjKdsrFjjasWB5K7IQXQfBoiGAL7EscNA=
    on_success: change
  email: false
